<!DOCTYPE html>
<html>
  <head>
      <title>Product Suppliers</title>
  </head>
  <body>
      <h1>Product Suppliers</h1>
      {{error_message}}
      <table>
        <th>
          <td>Product name</td>
          <td>Supplier name</td>
        </th>
        {% for (product_supplier, product1, supplier1) in product_suppliers %}
          <form method="POST">
            <tr>
              <input type="hidden" name="id" value={{product_supplier.product_supplier_id}}>
              <td> {{product_supplier.product_supplier_id}}</td>
              <td> <select name="product_id">
                <option value={{product1.product_id}} selected hidden>{{product1.product_name}}</option>
                {% for product in products %}
                <option value={{product.product_id}}>{{product.product_name}}</option>
                {% endfor %}
              </select></td>
              <td> <select name="supplier_id">
                <option value={{supplier1.supplier_id}} selected hidden>{{supplier1.supplier_name}}</option>
                {% for supplier in suppliers %}
                <option value={{supplier.supplier_id}}>{{supplier.supplier_name}}</option>
                {% endfor %}
              </select></td>               
              <td> <button type="submit" name="action" value="/update">Update</button></td>
              <td> <button type="submit" name="action" value="/delete">Delete</button></td>
            </tr>
          </form>
        {% endfor %}
        <form method="POST">
          <td></td>
          <td> <select name=product_id>
            <option value="" selected disabled hidden>Choose a value</option>
            {% for product in products %}
            <option value={{product.product_id}}>{{product.product_name}}</option>
            {% endfor %}
          </select></td> 
          <td> <select name=supplier_id>
            <option value="" selected disabled hidden>Choose a value</option>
            {% for supplier in suppliers %}
            <option value={{supplier.supplier_id}}>{{supplier.supplier_name}}</option>
            {% endfor %}
          </select></td> 
          <td> <button type="submit" name="action" value="/add">Add</button></td>
        </form>
      </table>
      <form action="/navigate" method="get">
        <button type="submit" name="page" value="/">Main page</button>
      </form>
  </body>
</html>
