<!DOCTYPE html>
<html>
  <head>
      <title>Suppliers</title>
  </head>
  <body>
      <h1>Suppliers</h1>
      {{error_message}}
      <table>
        <tr>
          <th>Supplier name</th>
          <th>Contact name</th>
          <th>E-mail</th>
          <th>Phone</th>
        </tr>
        {% for supplier in suppliers %}
          <form method="POST">
            <tr>
              <input type="hidden" name="id" value={{supplier.supplier_id}}>
              <td> {{supplier.supplier_id}}</td>
              <td> <input type=text name=supplier_name value={{supplier.supplier_name}}> </td> 
              <td> <input type=text name=contact_name value={{supplier.contact_name}}>  </td>
              <td> <input type=text name=email value={{supplier.email}}>      </td>
              <td> <input type=text name=phone value={{supplier.phone}}>      </td>
              <td> <button type="submit" name="_method" value="PUT">Update</button></td>
              <td> <button type="submit" name="_method" value="DELETE">Delete</button></td>
            </tr>
          </form>
        {% endfor %}
        <form method="POST">
          <td></td>
          <td> <input type=text name=supplier_name> </td> 
          <td> <input type=text name=contact_name>  </td>
          <td> <input type=text name=email>      </td>
          <td> <input type=text name=phone> </td>
          <td> <button type="submit" name="_method" value="PUT">Add</button></td>
        </form>
      </table>
      <form action="/navigate" method="get">
        <button type="submit" name="page" value="/">Main page</button>
      </form>
  </body>
</html>
